.ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.li{
    padding-left: 10px;
}
.nav{
    align-items: center;
}
.link{
    color: rgba(164, 161, 161, 0.801);
    font-weight: bold;
   
}
.link:hover{
    color: black;
}